<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Users</title>
  <link rel="stylesheet" href="/css/main.css">
  <script src="/js/main.js" defer></script>
</head>

<body>
  <header class="main-header">
    <nav class="main-header__nav">
      <ul class="main-header__itens">
        <li class="main-header__item"><a href="/admin">Index</a></li>
        <li class="main-header__item"><a class="active" href="/admin/users">Users</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <h1>Users</h1>
    <button type="button" id="btn">Alert</button>
  </main>
</body>

</html>